<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">
            <span data-feather="monitor"></span>
            Projects
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/suites" routerLinkActive="active">
            <span data-feather="folder"></span>
            Suites
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/features" routerLinkActive="active">
            <span data-feather="file"></span>
            Features
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/scenarios" routerLinkActive="active">
            <span data-feather="user-check"></span>
            Scenarios
          </a>
        </li>
      </ul>
      <app-test-results></app-test-results>
    </div>
  </nav>
